body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.border th, .border td {
  border: 1px solid black;
}

#values {
  position: relative;
  float: left;
  top: 20px;
}

#graph {
  position: relative;
  width: 400px;
  float: right;
}

.alnright {
  text-align: right;
}

path {
  fill: none;
  stroke: black;
}

.reg {
  stroke: steelblue;
  stroke-width: 2;
}
