.container-fixed {
  margin: 0 auto;
  max-width: 100vw;
}

#graph {
  width: calc(100vw - 20px);
  max-width: 400px;
  margin: 0 auto;
}

path {
  fill: none;
  stroke: black;
}

.reg {
  stroke: steelblue;
  stroke-width: 2;
}
